@media (max-width: 1023px) {

    .main,
    .main-v1 {
        margin-top: 0;
    }
}

.main,
.main-v1 {
    background: #fff;
    margin: 40px 80px;
   
}

.main .container-v1.typeFull,
.main .container.typeFull,
.main-v1 .container-v1.typeFull,
.main-v1 .container.typeFull {
    -ms-grid-rows: initial;
    -ms-grid-columns: initial;
    display: block;
    grid-template-columns: none;
    grid-template-rows: none;
}

@media (max-width: 1023px) {

    .main .container,
    .main .container-v1,
    .main-v1 .container,
    .main-v1 .container-v1 {
        padding-top: 0;
    }
}

@media (max-width: 1023px) {

    .main .container,
    .main .container-v1,
    .main-v1 .container,
    .main-v1 .container-v1 {
        -ms-grid-columns: initial;
        -ms-grid-rows: initial;
        display: block;
        gap: initial;
        grid-template-columns: none;
        grid-template-rows: none;
    }
}

.main .container,
.main .container-v1,
.main-v1 .container,
.main-v1 .container-v1 {
    -ms-grid-columns: 1fr 300px;
    -ms-grid-rows: auto;
    display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-rows: auto;
    padding: 20px;
}

.main .container-v1.typeFull>:first-child,
.main .container.typeFull>:first-child,
.main-v1 .container-v1.typeFull>:first-child,
.main-v1 .container.typeFull>:first-child {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
}

@media (max-width: 1023px) {

    .main .container-v1>:first-child,
    .main .container>:first-child,
    .main-v1 .container-v1>:first-child,
    .main-v1 .container>:first-child {
        -ms-grid-column: 1;
        -ms-grid-row: 1;
    }
}

.main .container-v1>:first-child,
.main .container>:first-child,
.main-v1 .container-v1>:first-child,
.main-v1 .container>:first-child {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
}

.formSearch__main .field input,
.formSearch__main .field select {
    background: #fff;
    border: 1px solid #c4c4c4;
    border-radius: 3px;
    font-family: notosans-regular;
    font-size: 15px;
    height: 35px;
    outline: none;
    padding: 0 5px;
    width: 100%;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

input[type="text" i] {
    padding-block: 1px;
    padding-inline: 2px;
}

input:not([type="file" i], [type="image" i], [type="checkbox" i], [type="radio" i]) {}

@media (max-width: 1023px) {
    .formSearch__main .fields {
        -ms-grid-columns: minmax(0, 1fr) 50px minmax(0, 1fr);
        -ms-grid-rows: minmax(0, 1fr) 0 minmax(0, 1fr);
        gap: 0 50px;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-template-rows: repeat(2, minmax(0, 1fr));
    }
}

.formSearch__main .fields {
    -ms-grid-columns: minmax(0, 1fr) 20px minmax(0, 1fr) 20px minmax(0, 1fr) 20px minmax(0, 1fr);
    -ms-grid-rows: minmax(0, 1fr);
    grid-gap: 20px;
    display: -ms-grid;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(1, minmax(0, 1fr));
}

@media (max-width: 1023px) {
    .formSearch__main .fields>:first-child {
        -ms-grid-column: 1;
        -ms-grid-row: 1;
    }
}

.formSearch__main .fields>:first-child {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
}

.formSearch__main .field {
    -ms-flex-align: center;
    -ms-flex-pack: justify;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    position: relative;
}

@media (max-width: 1023px) {
    .formSearch__main .fields label {
        min-width: 100px;
    }
}

.formSearch__main .field label {
    color: #676767;
    font-size: 14px;
    margin-right: 10px;
    min-width: 85px;
    white-space: nowrap;
}

.formSearch__head {
    color: #2d67ad;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
}

.formSearch__main .field {
    -ms-flex-align: center;
    -ms-flex-pack: justify;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    position: relative;
}